/* Custom properties */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set fonts and colors */
:root {
  --ff-primary: 'Marvel', sans-serif;
  --ff-secondary: 'Roboto Slab', serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg: #fff;
  --clr-dark: #303030;
  --clr-accent: #3bceac;
  --clr-hover: #0ead69;
  --fs-h1: 4.2rem;
  --fs-h2: 3.2rem;
  --fs-h3: 2.2rem;
  --fs-body: 1.2rem;
  --fs-p: 1.7rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General Styles */
body {
  background: var(--clr-light);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 5em;
}

img {
  display: block;
  max-width: 250px;
}

strong {
  font-weight: var(--fw-bold)
}

.nav-link {
  font-weight: bold;
  color: var(--clr-dark);
}

.navbar-expand-lg {
  background: var(--clr-accent);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2)
}

h3 {
  font-size: var(--fs-h3) font-family: var(--ff-secondary);
}

p {
  font-size: var(--fs-p) font-family: var(--ff-secondary);
}

h2 {
  font-weight: var(--fw-bold);
  padding: 1em 1em;
  margin: 0 auto;
  line-height: normal;
  text-align: center;
  font-family: var(--ff-secondary);
}

em {
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
}

h1:hover {
  transform: scale(1.1);
}

.d-inline-block {
  margin-left: 50px;
}

/* Intro section */
.jumbo {
  color: var(--clr-hover);
  padding: 5% 0%;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  text-align: center;
}

.bg-image {
  position: relative;
  background-image: url("images/dt3.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.lead:hover {
  transform: scale(0.95);
}

.my-pic:hover {
  transform: scale(1.2);
}

/* Interests */
.interest-title {
  font-weight: var(--fw-bold);
  padding: 2% 10% 5%;
  text-align: center;
}

.icon {
  color: var(--clr-accent);
  padding: 2%;
  margin-bottom: 1rem;
}

.icon:hover {
  color: var(--clr-hover);
}

div .interest-box {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Quotes */
#quotes {
  padding-top: 0px;
}

.quote-section {
  background: var(--clr-accent);
}

/* Carousel */
.carousel-item {
  padding: 5% 7%;
}

.quote-text {
  font-size: var(--fs-h3);
  margin: 5% 5%;
  line-height: 1.5;
}

.section__title-quotes {
  display: block;
}

#quotes {
  padding: 3em 2em;
}

/* Youtube */
/* Footer */
footer {
  background: var(--clr-accent);
  align-items: center;
  padding: 6% 6%;
}

footer h3 {
  text-align: center;
}

#contact {
  text-align: center;
}

.social {
  margin: 20px 10px;
}
